@font-face {
  font-family: "Rubik";
  src: url("./assets/fonts/Rubik/Rubik-VariableFont_wght.ttf")
    format("truetype");
}

@font-face {
  font-family: "Rubik";
  src: url("./assets/fonts/Rubik/Rubik-VariableFont_wght.ttf")
    format("truetype");
  font-weight: bold;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font: inherit;
}

:root {
  font-family: "Rubik", Arial, sans-serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  min-height: 100svh;
  color: #FFF;
  background-color: #111;
  font-size: 16px;
}
